@media screen and (max-width: 720px){
 
header{
    height: 25%;
    width: 100%;
    position: relative;

}

.show-menu{
    cursor: pointer;
}

.hamburger{
    width: 7%;
    position: absolute;
    top: 1px;
    right: 1px;
}

.main-nav ul {
    position: static;
    display:none;
}

.main-nav li{
padding: 1%;
}

}

.main-nav input[type=checkbox] {
display: none;
}

.main-nav input[type=checkbox]:checked ~ .menu {
display: block;
list-style: none;
width: 100%;
}

.site-header a{
padding: 1%;

}
.site-header {
    background: YELLOW;
    padding-bottom: 1%;
}
.byline, .byline address {
    display: inline;
}
main {
    width: 90%;
    margin: 5%;
}

article img {
    width: 100%;
}

header {
    margin-top: 0%;
}

a{
    color: grey;
}
image{
    max-width: 100%;
    height: auto;
    width: auto\9;
}
@media screen and (min-width: 721px) {
    
    .menu li{
        display: inline;
    }

    .hamburger{
        display: none;
    }
}